<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Welcome</h2>
        <p>Choose an option to proceed:</p>
        <div class="buttons">
            <a href="http://127.0.0.1:5000/signup_page" class="btn">Sign Up</a>
            <a href="http://127.0.0.1:5000/signin_page" class="btn">Sign In</a>
        </div>
    </div>
</body>
</html>
